body {
    font-family: Arial;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}